.pattern3 {
    margin-top: 50px;
}

.pattern3__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

.pattern3__main-title {
    font-weight: 1000;
    font-size: 40px;
    text-align: center;
}

.pattern3__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

.pattern3__card {
    display: flex;
    align-items: center;
    width: 100%;
    height: 200px;
    column-gap: 10px;
    row-gap: 10px;
}

.pattern3__img {
    height: 200px;
    width: 300px;
    background-color: darkcyan;
    border-radius: 3px;
    box-shadow: 3px 3px 5px gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pattern3__desc {
    width: calc(100% - 10px - 300px);
    padding-left: 200px;
}

.pattern3__desc:last-child {
    padding-left: 0;
    padding-right: 200px;
}

.pattern3__title {
    font-weight: 700;
    font-size: 24px;
}

.pattern3__text {
    margin-top: 5px;
}

@media (max-width: 800px) {
    .pattern3__desc {
        padding: 0;
    }

    .pattern3__desc:last-child {
        padding: 0;
    }
}

@media (max-width: 550px) {
    .pattern3__card {
        flex-direction: column;
        height: auto;
    }

    .pattern3__img {
        width: 100%;
        height: calc((100vw - 30px) / 3 * 2);
    }
    
    .pattern3__desc {
        width: 100%;
        text-align: center;
    }
}